header, main, footer {
    max-width: 60rem;
    margin: auto;
}

section {
    grid-template-columns: 1fr 1fr 1fr;
}

.parent1 {
    grid-template-columns: repeat(3, 1fr);
}

/* adjust page width alignment to match variables */
header, main, footer {
    max-width: $navMaxWidth;
}