$primaryColor: #db0000;
$secondaryColor: #ffffff;
$fontColor: #222;

$defaultFont: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headingFont: "Merriweather", Georgia, "Times New Roman", serif;

$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;

$maxPageWidth: 60rem;
$navMaxWidth: 75rem; // 1200px